// Warning Suppressions for Third-Party Libraries
// This file contains build settings to suppress warnings from node_modules

// Nullability Warnings
CLANG_WARN_NULLABILITY_COMPLETENESS = NO
CLANG_WARN_NULLABLE_TO_NONNULL_CONVERSION = NO

// Deprecated API Warnings
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO

// Documentation Warnings
CLANG_WARN_DOCUMENTATION_COMMENTS = NO

// Swift Warnings
SWIFT_SUPPRESS_WARNINGS = YES

// Additional Warning Suppressions for Problematic Libraries
WARNING_CFLAGS = -Wno-nullability-completeness -Wno-deprecated-declarations -Wno-deprecated-implementations
OTHER_SWIFT_FLAGS = $(inherited) -suppress-warnings

// Disable all warnings for third-party code
GCC_WARN_INHIBIT_ALL_WARNINGS = YES

// Additional specific suppressions
CLANG_WARN__DUPLICATE_METHOD_MATCH = NO
CLANG_WARN_PRAGMA_PACK = NO
CLANG_WARN_STRICT_PROTOTYPES = NO
CLANG_WARN_COMMA = NO